@import 'fonts.sass'

$button-color: #fab91e
$button-hover-color: #d39500
$button-text-color:  #080425
$menu-active: #211d3b
$menu-default: #080425
$child-menu-hover: #37344f
$icon-color: #f9b81e

    
* 
    box-sizing: border-box
    margin: 0
    padding: 0

a 
    text-decoration: none

ul,li 
    list-style: none

body 
    font-family: 'ProximaNova_Reg'

.container 
    margin: 0 5vw
    /* box-shadow: 0px 0px 0px 1px rgba(153,153,153,1) */ /* Потом включить */ 

.main-display
    background-image: url('../../img/main-banner.png')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

    .slide-header
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 
        justify-items: center
        align-items: center
        color: #ffffff
        font-size: 15px
        font-weight: 500
        line-height: 24px
        font-family: 'Gotham_Reg'

        .attention-text
            font-family: 'Gotham_Medium'

        .header-icon
            position: absolute
            bottom: 47%
            left: 10%
            color: $icon-color

        .phone, .location /* Цвет текста переделать  */
            position: relative
            width: 100%
            padding: 10% 20%

        .phone
            border-right: 1px solid #74777b
        .location
            border-left: 1px solid #74777b

        .logo
            width: 102px
            height: 102px
            background-image: url('../../img/logo.png')
            background-position: center center
            background-size: contain
            background-repeat: no-repeat

.main-menu


.top-menu
    display: grid
    grid-template-columns: repeat(6, 1fr)
    justify-content: space-around
    align-items: center 

    color: #ffffff

    .sub-menu
        position: absolute
        top: 100%
        left: 0
        width: 100%
        padding: 0
        background-color: $menu-active
        transform: translateY(-200px) scale(0)
        li 
            padding: 20px 5px
            cursor: pointer
            transition: 0.5s
            &:hover
                background-color: $child-menu-hover

    .fa-chevron-left
        margin-left: 5px
        transition: 0.5s

    &-item
        position: relative
        width: 100%
        max-height: 118px
        padding: 36px 15px
        font-family: "ProximaNova_Semi"
        font-size: 13px
        font-weight: 400
        line-height: 26px
        text-transform: uppercase
        text-align: center
        cursor: pointer
        background-color: $menu-default
        transition: 0.5s
        &:hover
            background-color: $menu-active
        &:hover .fa-chevron-left
            transform: rotate(-90deg)
        &:hover  .sub-menu
            transition: 0.5s
            transform: translateY(0px) scale(1)

.previe-info
    margin: 16% 10%
    color: #ffffff
    h1 
        font-family: "Playfair_Reg"
        font-size: 52px
        font-weight: 700
        line-height: 63px
    h2
        font-family: "Gotham_Reg"
        font-size: 18px
        font-weight: 400
        line-height: 28px

    .top-btn-wrap
        display: flex
        justify-content: flex-start
        .top-btn
            margin: 20px 0
            padding: 20px
            color: $button-text-color
            background-color: $button-color
        .btn-order
            margin-left: 20px




